@use 'fonts';

body {
  // font-family: "Gotham", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 64px;

  scroll-behavior: smooth;

  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 10%, transparent 10%);
  background-position: 10px 10px;
  background-size: 20px 20px;
  background-color: rgb(255, 255, 255);

  background-attachment: fixed;

  overflow-x: hidden;
}